.cuar-address {
  h3 {
    .cuar-address-actions {
      display: block;
      float: right;
    }
    .cuar-progress {
      display: inline-block;
      margin-left: 20px;
      padding-top: 0px;
    }
  }
}