.cuar-form {
	.form-control,
	.form-group,
	.control-label,
	.control-container {
		box-sizing: border-box;
	}

	.cuar-field {
			margin-bottom: 10px;
	}
	.cuar-form-links {
			margin-top: 30px;
			text-align: center;
	}
}

.cuar-form {
		.form-horizontal;
	.control-label {
			margin-bottom: 15px;
			.make-sm-column(4);
	}
	.control-container {
			.make-sm-column(8);
	}
	.submit-container, .checkbox-container {
			.make-sm-column(6);
  			.make-sm-column-offset(4);
	}
	img.captcha {
			.center-block;
			margin-bottom: 10px;
	}
	
	legend {
			font-weight: bold;
			border-bottom: 1px solid #eee;
			padding-bottom: 15px;
			margin-bottom: 30px;
	}
}

.cuar-big-form {
	.form-group {
			// .make-sm-column(12);
	}
	.two-columns {
			.make-row();	
		.half-width {
				.make-sm-column(6);
				margin-bottom: 15px;
		}
	}
	.control-label {
			.make-sm-column(4);
	}
	.control-container {
			.make-sm-column(8);
	}
	.submit-container, .checkbox-container {
			.make-sm-column(12);
	}
	img.captcha {
			.center-block;
			margin-bottom: 10px;
	}
}

.cuar-login-form {
	.control-label {
			.make-xs-column(6);
			.make-sm-column(6);
	}
	.control-container {
			.make-xs-column(6);
			.make-sm-column(6);
	}
	.submit-container, .checkbox-container {
			.make-sm-column(6);
  			.make-sm-column-offset(6);
	}
}

.cuar-form {
	#cuar_owner_type {
			margin-bottom: 10px;
	}
	
	.select2-choices {
		&:extend( .form-control );
	}
	
	.select2-container-multi .select2-choices .select2-search-choice {
	}
}

.cuar-form {
	.wp-editor-wrap{
		border: 1px solid @item-border-color;
		border-radius: @border-radius-base;
	}
	.wp-editor-container{
		overflow:hidden;
	}
}

.widget_cuar_login_form .cuar-form {
	.form-group > label {
		text-align: left;
	}
	.form-group > label {
		float: none;
		padding-top: 0;
		text-align: left;
		width: 100%
	}
	.form-control {
		margin-left: 0;
	}
	.form-actions,
	.form-actions {
		padding-left: 20px;
	}
	.form-group .form-group {
		margin-bottom: 0;
	}

	&.cuar-login-form {
		.control-label {
			.make-xs-column(12);
			.make-sm-column(12);
		}
		.control-container {
			.make-xs-column(12);
			.make-sm-column(12);
		}
		.submit-container, .checkbox-container {
			.make-sm-column(12);
			.make-sm-column-offset(0);
		}
	}
}