

// File info in the single post footer
// --------------------------------------------------

.cuar-private-file {
  .download-badge {
	.badge;
  }
}

.cuar-single-post-footer.cuar-file {
	.content-meta {
		.author, .owner, .date {
				.make-sm-column(4);
				.make-xs-column(12);
		}
	}
	
	.file-meta {
		.file {
				.make-xs-column(12);
		}
	}

  	ul.cuar-attached-files {
	  list-style: none;
	  margin: 0;
	  li {
		margin: 0;
	  }
	  a, a:hover {
		text-decoration: none;
	  }
  	}
}

.cuar-file-attachment-manager {
  .cuar-file-attachment-errors {
	p.cuar-error,
	div.cuar-error,
	p.cuar-warn,
	div.cuar-warn,
	p.cuar-info,
	div.cuar-info {
	  background-color: #FFf7f4;
	  border-left: 4px solid #dd3d36;
	  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
	  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
	  padding: 8px 12px;
	  margin: 5px 0 15px;

	  .cuar-dismiss {
		float: right;
		text-decoration: none;
	  }
	}

	p.cuar-error,
	div.cuar-error {
	  background-color: #FFf7f4;
	  border-left-color: #dd3d36;
	}

	p.cuar-warn,
	div.cuar-warn {
	  background-color: #FFFBBF;
	  border-left-color: #DDBC36;
	}

	p.cuar-info,
	div.cuar-info {
	  background-color: #CDE1F0;
	  border-left-color: #29648E;
	}
  }

  span.label {
	color: inherit;
	font-size: 1em;
	padding: 0;
	margin-right: 20px;
	margin-bottom: 20px;
  }

  .cuar-file-selectors {
	margin: 20px 0;
  }

  .metabox-row {
	margin-bottom: 20px;
  }

  .cuar-ftp-add-files {
	.btn;
	.btn-default;
  }
}

.cuar-file-attachments {
  .cuar-empty-message {
	margin-top: 20px;
  }
  .cuar-file-attachment {
	position: relative;
	border: 1px solid #e0e0e0;
	background: #fafafa;
	padding: 4px 7px;
	margin: 4px 0;
	min-height: 28px;
	line-height: 28px;

	&.cuar-state-pending {
	  background-color: #D4E9FF;
	}
	&.cuar-state-error {
	  background-color: #FF777F;
	}
	&.cuar-state-success {
	  background-color: #fafafa;
	}

	.cuar-actions {
	  display: block;
	  float: right;
	  min-height: 28px;
	  line-height: 28px;
	  padding: 4px 0;

	  a, a:hover {
		text-decoration: none;
	  }
	  a:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
	  }
	}

	.cuar-caption {
	  display: inline-block;
	}

	.cuar-editable-caption {
	  input {
		background: transparent;
		min-width: 200px;
		border: none;
		border-bottom: 1px solid #aaa;
		padding: 0;
		font-size: 13px;

		&:focus {
		  outline: 0;
		}
	  }
	}

	.cuar-progress {
	  position: absolute;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  height: 100%;

	  .indeterminate {
		display: block;
		position: absolute;
		right: 8px;
		bottom: 0;
		height: 100%;
		background-position-x: 100%;
		background-position-y: 8px;
	  }

	  .determinate {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	  }
	}
  }
}