/** BILLING ADDRESS */
.postbox .inside .cuar-invoice-billing-address {
  position: relative;

  .billing-address-actions {
    text-align: right;
  }

  .cuar-progress {
    position: absolute;
    top: 0;
    left: 0;
  }

  .billing-address-name,
  .billing-address-company,
  .billing-address-zip,
  .billing-address-city,
  .billing-address-country,
  .billing-address-state {
    width: 50%;
  }

  .billing-address-line2 {
    padding-top: 0;
  }
}