/* -= Projects */

table.projects {
  .column-progress {
    width: 100px;
  }

  .column-cuar_project_status,
  .column-started,
  .column-due,
  .column-completed {
    width: 120px;
  }

  .column-team .dashicons {
    font-size: 18px;
    height: 24px;
    margin-right: 10px;
  }
}

.cuar-project-progress {
  .cuar-progress {
    .control-container {
      text-align: center;
    }
  }
}