@status-width: 50px;

.cuar-task-manager {
  .cuar-list-progress {
    position: relative;
    height: 6px;
    width: 100%;
    background: #dbebdb;
    margin: 15px 0;
  }

  .cuar-task-manager-errors {
    p.cuar-error,
    div.cuar-error,
    p.cuar-warn,
    div.cuar-warn,
    p.cuar-info,
    div.cuar-info {
      background-color: #FFf7f4;
      border-left: 4px solid #dd3d36;
      -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
      padding: 8px 12px;
      margin: 5px 0 15px;

      .cuar-dismiss {
        float: right;
        text-decoration: none;
      }
    }

    p.cuar-error,
    div.cuar-error {
      background-color: #FFf7f4;
      border-left-color: #dd3d36;
    }

    p.cuar-warn,
    div.cuar-warn {
      background-color: #FFFBBF;
      border-left-color: #DDBC36;
    }

    p.cuar-info,
    div.cuar-info {
      background-color: #CDE1F0;
      border-left-color: #29648E;
    }
  }
}

.cuar-task {
  position: relative;

  .cuar-task-panel {
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
  }

  &:last-child .cuar-task-panel {
    border-bottom: 0 none;
  }

  .cuar-meta {
    .cuar-meta-row {
      clear: both;
      width: 100%;
      margin-top: 12px;
    }
    .cuar-meta-icon {
      float: left;
    }
    .cuar-meta-value {
      margin-left: @status-width;
    }
  }

  .cuar-status {
    float: left;
    width: @status-width;
  }

  .cuar-details {
    margin-left: @status-width;
  }

  .cuar-due-date {
    opacity: 0.8;
    font-size: 0.9em;
    display: inline-block;

    .dashicons {
      text-align: left;
      font-size: 1.5em;
    }
  }

  .cuar-actions {
    position: absolute;
    top: 2px;
    right: 0;
    background-color: white;
    opacity: 0;
    padding: 2px 0 0;

    a {
      margin: 0 3px;
    }

    .cuar-move-action .dashicons {
      cursor: move;
      transform: rotate(90deg);
    }
  }

  &.completed {
    .cuar-details {
      text-decoration: line-through;
    }
  }

  &.cuar-state-pending {
    opacity: 0.5;
  }

  &:hover {
    .cuar-actions {
      opacity: 1;
    }
  }

  .cuar-editable {
    margin-right: 90px;
    textarea {
      max-width: 100%;
    }
  }
}

.cuar-add-task-form {
  padding-left: @status-width - 3px;
  margin-top: 20px;

  .cuar-add-action {
    display: inline-block;
  }
  .cuar-new-task-description {
    min-width: 550px;
    max-width: 100%;
    display: inline-block;
  }
}