/.buildpath
/.project
/.settings
/.svn
/.transifexrc
/node_modules/
/composer.lock
/vendor/
*.js.map
*.css.map
/skins/frontend/master/assets/css/less-vars*
/skins/frontend/master/src/less/less-vars.css
