.metabox-row {
	margin: 0.5em 0; 
}
table.metabox-row {
	width: 100%;
}
table.metabox-row td.label {
	width: 30%;
}
span.label {
	display: inline-block;
	min-width: 40%;
	vertical-align: top;
}

.metabox-row input[type=text], .metabox-row select, .metabox-row text-area {
	min-width: 200px;
}

.form-table input[type=text], .form-table select, .form-table text-area {
	min-width: 200px;
}

/* -= POST LISTING */

.fixed .column-cuar_category {
	width: 15%;
}

/* -= CONVERSATIONS ADMIN */

.column-cuar_reply_count {
	width: 5em;
}

.conversation-reply {
	border-bottom: 1px solid #999;
}

.conversation-reply:last-child {
	border-bottom: none;
}

.conversation-reply .meta {
	font-weight: bold;
}

.conversation-reply .content {
	padding: 10px;
	margin-left: 10px;
	border-left: 1px solid #ccc;
}

/* -= SETTINGS PAGE */

.cuar-main {
	width: 69%;
	float: left;
	margin-top: 35px;
}

.cuar-main-half {
	width: 34%;
	float: left;
	margin-top: 35px;
}

.cuar-main-half-2 {
	width: 34%;
	margin-left: 2%;
	float: left;
	margin-top: 35px;
}

.cuar-side {
	width: 29%;
	float: right;
	margin-top: 35px;
}

.cuar-ajax-container {
	margin: 0 15px;
	font-size: 0.8em;
}
.cuar-ajax-running {
	color: #666;
	animation: blinker 1s linear infinite; 
}
@keyframes blinker {  
  0% { opacity: 1; }
  50% { opacity: 0.5; }  
  100% { opacity: 1; }
}
.cuar-ajax-success {
	color: #006400;
}
.cuar-ajax-failure {
	color: #B22222;
}

/* -= ADMIN MENU & ICONS */

#adminmenu #toplevel_page_customer-area div.wp-menu-image:before {
	content: "\f332";
} 

.dashboard-logo {
	max-width: 80%;
	margin: 0 auto 50px;
}

.dashboard-logo img {
	max-width: 100%;
	height: auto; 
}

#adminmenu span.cuar-menu-divider {
	display:block; 
	margin: 0px 5px 12px -5px; 
	padding:0; 
	height:1px; 
	line-height:1px; 
	background:#ddd; 
	opacity: 0.5;
}

/* -= SETTINGS SIDEBOXES */

.cuar-sidebox {
	border-bottom: 5px solid #eee;
	margin-bottom: 20px;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

.cuar-sidebox ul {
	list-style: disc;
	margin-left: 30px;
}

.cuar-sidebox h2.cuar-sidebox-title {
	background: #eee;
	padding: 10px 20px;
	font-size: 18px;
	line-height: 18px;
}

.cuar-sidebox div.cuar-sidebox-content {
	background: #fafafa;
	padding: 7px 20px;
}

/* -= ADD-ONS TAB */

.cuar-addon {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
	        
	float: left;
	width: 48%;
	margin: 1%;
	padding: 10px;
	border: 1px solid #eee;
	background: #fafafa;
}

.cuar-addon:hover {
	background: #f0f0f0;
}

.cuar-addon img {
	max-width: 33%;
	float: left;
}

.cuar-addon h2 {
	text-align: center;
	text-decoration: none;
	font-size: 19px;
}

p.forcelinebreak {
	display: block;
	height: 10px;
	width: 100%;
	clear: both;
	margin: 0;
	padding: 0;
}

.cuar-addon .meta {
	margin-left: 35%;
	padding: 0 10px;
}

@media only screen and (max-width: 900px) {
	.cuar-addon {
		float: left;
		width: 98%;
	}
}

/* -= INDIVIDUAL SETTINGS TAB ADJUSTMENTS */

.cuar-settings-cuar_addons p.submit, .cuar-settings-cuar_troubleshooting p.submit {
	display: none;
}

.cuar-main.cuar-settings .form-table {
	margin: 1em 0;	
}

/* -= TABS */

.tab-container .tab-wrapper {
	border-bottom: 1px solid #ccc;
	padding: 0;
	margin: 0;
}

.tab-container .nav-tab {
	display: inline-block;
	
	padding: 4px 14px 6px;
	margin: 0 6px -1px 0;
	
	font-weight: 200;
	text-shadow: #fff 0 1px 0;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	
	color: #aaa;
	border-color: #dfdfdf #dfdfdf #fff;
	border-style: solid;
	border-width: 1px 1px 0;
	-webkit-border-top-left-radius: 3px;
	   	    border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
			border-top-right-radius: 3px;
}

.tab-container .ui-tabs-nav a {
	outline: 0;
	text-decoration: none;
	color: #aaa;
}

.tab-container .ui-state-active {
	border-color: #acacac #acacac #fff;
}

.tab-container .ui-state-active a {
	outline: 0;
	font-weight: 600;
	color: #333;
}

.cuar-settings p, .cuar-settings h2, .cuar-settings h3, .cuar-settings h4 {
	line-height: 1.6em;
	max-width: 600px;
}

.cuar-settings ul:not(.tab-wrapper) {
	list-style-type: disc;
	padding-left: 2em;
	max-width: 600px;
}

.cuar-settings p.cuar-section-info {
	max-width: 100%;
}
 
.wp-admin .cuar-settings select.cuar-post-select {
	min-width: 200px;
}

.cuar-main .cuar-section-description {
	padding: 5px 10px;
}

.wp-admin .cuar-settings .cuar-submit-create-post {
	margin: 1px 25px;
}

.cuar-wizard ul li {
}

.cuar-wizard .cuar-block {
	padding: 30px 10px;
	background: #eee;
}

.cuar-wizard .cuar-block h1 {
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-weight: normal;
}

.cuar-wizard .cuar-block p, .cuar-wizard .cuar-block ul, .cuar-wizard .cuar-block h1, .cuar-wizard .cuar-block div {
	margin: 20px auto;
	max-width: 600px;	
}

.cuar-wizard .cuar-block ul {
	list-style-type: disc;
	padding-left: 40px;
	line-height: 1.5em;
}

/* -= JQUERY.SELECT2 */

.wp-admin .select2-container-multi .select2-choices .select2-search-choice {
	border-radius: 0;
	background-image: none;
}