.cuar-page *, .cuar-page *:before, .cuar-page *:after {
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}
 
.metabox-row {
	margin: 1.5em 0 1em; 
}
table.metabox-row {
	width: 100%;
}
table.metabox-row td.label {
	width: 30%;
}
span.label {
	display: inline-block;
	min-width: 40%;
	vertical-align: top;
}

.metabox-row input[type=text], .metabox-row select, .metabox-row text-area {
	min-width: 200px;
}

.form-table input[type=text], .form-table select, .form-table text-area {
	min-width: 200px;
}

a.cuar-round-button {
	display: inline-block; 
	width: 24px;
	height: 24px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 24px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	background: #666;
	cursor: pointer;
	text-decoration: none;
	opacity: 0.8;
}

a.cuar-round-button .dashicons {
	width: 18px;
	height: 18px;
	font-size: 18px;
}

a.cuar-round-button:hover {
	background: #333;
}

a.cuar-round-button:visited,
a.cuar-round-button:active,
a.cuar-round-button:hover {
	text-decoration: none;
	color: #fff;
}

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/* -= Status */

.cuar-congrats {
	margin: 5px 0 15px;
	padding: 1px 12px;
	background: #fff;
	border-left: 4px solid #7ad03a;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
		    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
	
.cuar-congrats p {	    
	font-size: 120%;
}

p.cuar-needs-attention {
	border-left: 4px solid #dd3d36;
}

tr.cuar-needs-attention td {
	background: #dd3d36;
	color: #fff;
}

div.cuar-needs-attention {
	margin: 5px 0 15px;
	padding: 1px 12px;
	background: #fff;
	border-left: 4px solid #dd3d36;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
		    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

div.cuar-needs-attention p {
	margin: .5em 0;
	padding: 2px;
}

.cuar-needs-attention .cuar-suggested-action {
	margin-top: 20px;
	padding: 20px 0 15px;
	font-weight: bold;
	font-size: 120%;
	border-top: 1px #e0e0e0 solid;
}

.cuar-needs-attention .cuar-suggested-action .text {
	display: inline-block; 
	min-width: 150px;
}

.cuar-needs-attention .cuar-suggested-action .button {
	margin: 0 30px;
	min-width: 180px;
	text-align: center;
}

.cuar-status-section h2 {
	margin: 20px 0 30px;
}

.error ul.cuar-with-bullets {
	padding: 0 0 0 40px;
	list-style-type: disc;
}

/* -= POST LISTING */

.fixed .column-cuar_category {
	width: 15%;
}

/* -= CONVERSATIONS ADMIN */

.column-cuar_reply_count {
	width: 5em;
}

.conversation-reply {
	border-bottom: 1px solid #999;
}

.conversation-reply:last-child {
	border-bottom: none;
}

.conversation-reply .meta {
	font-weight: bold;
}

.conversation-reply .content {
	padding: 10px;
	margin-left: 10px;
	border-left: 1px solid #ccc;
}

/* -= SETTINGS PAGE */

.cuar-main {
	width: 69%;
	float: left;
	margin-top: 35px;
}

.cuar-main-half {
	width: 34%;
	float: left;
	margin-top: 35px;
}

.cuar-main-half-2 {
	width: 34%;
	margin-left: 2%;
	float: left;
	margin-top: 35px;
}

.cuar-side {
	width: 29%;
	float: right;
	margin-top: 35px;
}

.cuar-ajax-container {
    display: inline-block;
    vertical-align: top;
	margin: 8px 15px 0;
	font-size: 0.8em;
}
.cuar-old-shop-warning {
    display: inline-block;
    color: #666;
    margin-top: 4px;
}
.cuar-ajax-running {
	color: #666;
	animation: blinker 1s linear infinite; 
}
@keyframes blinker {  
  0% { opacity: 1; }
  50% { opacity: 0.5; }  
  100% { opacity: 1; }
}
.cuar-ajax-success {
	color: #006400;
}
.cuar-ajax-failure {
	color: #B22222;
}

.cuar-capabilities .label {
	max-width: 25%;
}

.cuar-capabilities .value {
	width: 90px;
}

/* -= ADMIN MENU & ICONS */

#adminmenu #toplevel_page_customer-area div.wp-menu-image:before,
#wp-admin-bar-customer-area > a:before {
	content: "\f332";
} 

.dashboard-logo {
	max-width: 80%;
	margin: 0 auto 50px;
}

.dashboard-logo img {
	max-width: 100%;
	height: auto; 
}

#adminmenu span.cuar-menu-divider {
	display:block; 
	margin: 0px 5px 12px -5px; 
	padding:0; 
	height:1px; 
	line-height:1px; 
	background:#ddd; 
	opacity: 0.5;
}

/* -= SETTINGS SIDEBOXES */

.cuar-sidebox {
	border-bottom: 5px solid #eee;
	margin-bottom: 20px;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

.cuar-sidebox ul {
	list-style: disc;
	margin-left: 30px;
}

.cuar-sidebox h2.cuar-sidebox-title {
	background: #eee;
	padding: 10px 20px;
	font-size: 18px;
	line-height: 18px;
}

.cuar-sidebox div.cuar-sidebox-content {
	background: #fafafa;
	padding: 7px 20px;
}

/* -= ADD-ONS TAB */

.cuar-addon {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
	        
	float: left;
	width: 48%;
	margin: 1%;
	padding: 10px;
	border: 1px solid #eee;
	background: #fafafa;
}

.cuar-addon:hover {
	background: #f0f0f0;
}

.cuar-addon img {
	max-width: 33%;
	float: left;
}

.cuar-addon h2 {
	text-align: center;
	text-decoration: none;
	font-size: 19px;
}

p.forcelinebreak {
	display: block;
	height: 10px;
	width: 100%;
	clear: both;
	margin: 0;
	padding: 0;
}

.cuar-addon .meta {
	margin-left: 35%;
	padding: 0 10px;
}

@media only screen and (max-width: 900px) {
	.cuar-addon {
		float: left;
		width: 98%;
	}
}

/* -= INDIVIDUAL SETTINGS TAB ADJUSTMENTS */

.cuar-settings-cuar_addons p.submit, .cuar-settings-cuar_troubleshooting p.submit {
	display: none;
}

.cuar-main.cuar-settings .form-table {
	margin: 1em 0;	
}

/* -= TABS */

.tab-container .tab-wrapper {
	border-bottom: 1px solid #ccc;
	padding: 0;
	margin: 0;
}

.tab-container .nav-tab {
	display: inline-block;
	
	padding: 4px 14px 6px;
	margin: 0 6px -1px 0;
	
	font-weight: 200;
	text-shadow: #fff 0 1px 0;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	
	color: #aaa;
	border-color: #dfdfdf #dfdfdf #fff;
	border-style: solid;
	border-width: 1px 1px 0;
	-webkit-border-top-left-radius: 3px;
	   	    border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
			border-top-right-radius: 3px;
}

.tab-container .ui-tabs-nav a {
	outline: 0;
	text-decoration: none;
	color: #aaa;
}

.tab-container .ui-state-active {
	border-color: #acacac #acacac #fff;
}

.tab-container .ui-state-active a {
	outline: 0;
	font-weight: 600;
	color: #333;
}

.cuar-settings p, .cuar-settings h2, .cuar-settings h3, .cuar-settings h4 {
	line-height: 1.6em;
	max-width: 600px;
}

.cuar-settings ul:not(.tab-wrapper, .select2-choices) {
	list-style-type: disc;
	padding-left: 2em;
	max-width: 600px;
}

.cuar-settings p.cuar-section-info {
	max-width: 100%;
}
 
.wp-admin .cuar-settings select.cuar-post-select {
	min-width: 200px;
}

.cuar-main .cuar-section-description {
	padding: 5px 10px;
}

.wp-admin .cuar-settings .cuar-submit-create-post {
	margin: 1px 25px;
}

.cuar-wizard ul li {
}

.cuar-wizard .cuar-block {
	padding: 30px 10px;
	background: #eee;
}

.cuar-wizard .cuar-block h1 {
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-weight: normal;
}

.cuar-wizard .cuar-block p, .cuar-wizard .cuar-block ul, .cuar-wizard .cuar-block h1, .cuar-wizard .cuar-block div {
	margin: 20px auto;
	max-width: 600px;	
}

.cuar-wizard .cuar-block ul {
	list-style-type: disc;
	padding-left: 40px;
	line-height: 1.5em;
}

/* -= JQUERY.SELECT2 */

.wp-admin .select2-container-multi .select2-choices .select2-search-choice {
	border-radius: 0;
	background-image: none;
}


/* -= JQUERY.DATEPICKER */

.cuar-datepicker {
	position: relative;
	width: 100%;
	display: block;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

.cuar-datepicker .title {
	display: inline-block;
	width: 33%;
	margin-right: 5%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

.cuar-datepicker input {
	display: inline-block;
	width: 60%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

.cuar-datepicker .dashicons {
	display: block;
	position: absolute;
	right: 5px;
	top: 5px;
	color: #666;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

/* -= Projects */

.cuar-horizontal-progress {
	border: 1px solid #efefef;
	background: #fafafa;
	height: 15px;
}

.wp-list-table .cuar-horizontal-progress {
	margin-top: 5px;
	text-align: center;
}

.cuar-horizontal-progress>div {
	display: block;
	height: 100%;
	width: 0;
	background: #87CEEB;
	text-indent: -9999px;
}

.cuar-horizontal-progress>.caption {
	color: #999;
}

input.knob {
	-webkit-box-shadow: none;
	    	box-shadow: none;
}

.knob-container {
	text-align: center;
}

.column-cuar_progress {
	width: 100px;
}

.column-cuar_status {
    width: 110px;
}

.column-cuar_started,
.column-cuar_due,
.column-cuar_completed {
    width: 120px;
}

.column-cuar_team .dashicons {
	font-size: 18px;
	height: 24px;
	margin-right: 10px;
}

/* -= Tasks */

#ui-datepicker-div { 
	display: none; 
}

.cuar-tasks {
	margin-top: 15px;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background: #999;
}

.cuar-tasks.cuar-empty-list {
	background: transparent;
	border: none;
}

.cuar-task {
	border-bottom: 1px solid #e5e5e5;
}

.cuar-task .cuar-header {
	padding: 10px; 
	background: #fff;
}

.cuar-task .cuar-panel { 
	padding: 20px 10px; 
	border-top: 1px solid #e5e5e5;
	background: #fafafa;
}

.cuar-task .cuar-left {
	width: 60%; 
	float: left;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

.cuar-task .cuar-right {	
	width: 38%; 
	float: right;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

.cuar-task label {
	display: block;
	margin-bottom: 10px;
}

.cuar-task label .title {
	display: inline-block;
	width: 33%;
	margin-right: 5%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

.cuar-task label input[type=text],
.cuar-task label input[type=number] {
	display: inline-block;
	width: 60%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

.cuar-task .cuar-datepicker .dashicons {
	right: 10px;
}

.cuar-task .cuar-add-task-button {
	float: right;
	margin-top: 15px;
}

.cuar-task .cuar-header .cuar-title {
	float: left;
	line-height: 24px;
}

.cuar-task .cuar-header .cuar-actions {
	float: right;
}

.cuar-task textarea {
	display: block;
	width: 100%;		
	font-family: Consolas,Monaco,monospace;
	font-size: 13px;
	padding: 10px;
	line-height: 150%;
	resize: vertical;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.cuar-new-task {
	background: #e14d43;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	margin-top: 30px;
}

.cuar-new-task .cuar-header {
	background: #e14d43;
}

.cuar-new-task .cuar-title h4 {
	margin: 0;
	color: #fff;
}

.cuar-task .cuar-round-button {
	margin-left: 5px;
}

.cuar-task.completed .cuar-title {
	text-decoration: line-through;
}

.cuar-task.completed .cuar-check-task {
	background: #209900;
}

.cuar-task.completed .cuar-check-task:hover {
	background: #00992B;
}

.cuar-completed-checkbox {
	display: none;
}

.wp-core-ui .button.renew-license-button {
    display: inline-block;
    font-size: 0.95em;
    margin-right: 15px;
}