@{wrapperBase} {
  .cuar-single-post-header {
    background: darken(@main-bg, 4%);
    //padding: @padding-base-vertical;
    padding-top: @padding-base-vertical + @line-height-computed;
    padding-left: @padding-lg-horizontal;
    padding-right: @padding-lg-horizontal;
    margin-bottom: @margin-md-vertical;
    border-bottom: 1px solid darken(@main-bg, 8%);

    .slick-slide {
      padding-left: @padding-base-horizontal / 2;
      padding-right: @padding-base-horizontal / 2;

      .cuar-panel-meta-tile {
        margin-bottom: 0;
      }
    }
  }
}