// Define main paths
// ----------------------------
@master-sub-theme: false;
@theme-root-path: "../../";
@theme-assets-path: "../"; // relative to css folder
@theme-img-path: "@{theme-assets-path}img"; // relative to css folder
@theme-fonts-path: "@{theme-assets-path}fonts"; // relative to css folder
@theme-less-path: ".";
@framework-path: "../../../../../../../vendor/other/framework/theme_wpca/assets/skin";

// Theme Fonts
// ----------------------------
body.customer-area-active .cuar-css-wrapper {

  // Font-awesome
  @import (less) "@{theme-root-path}assets/css/font-awesome.min.css";
}