// Define base path
// ----------------------------
@base-path:	 "../../../../../../../vendor/other/framework/theme/assets/skin/base";

// Base Resources
// ----------------------------

// Frameworks Variables
@import "wpca/variables/all";
@import "core/theme_variables";

// Base Mixins
@import "@{base-path}/mixins.less";

body .entry-content .cuar-content-container,
body .entry-content .cuar-menu-container,
.cuar-content-container,
.cuar-menu-container {

  .clearfix;
  font-family: @font-family-base;
  font-size: @font-size-base;
  font-weight: @font-weight-base;
  line-height: @line-height-base;
  color: @text-color;
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin-bottom: @line-height-computed;

  background: @body-bg;
  border: 1px solid darken(@body-bg, 3%);
  padding: @padding-base-vertical @padding-base-horizontal;

  .box-sizing(border-box);
  &:before,
  &:after {
    .box-sizing(border-box);
  }

  a {
    border: 0;
    text-decoration: none;
  }

  th {
    color: inherit;
  }

  // Skin Settings
  @import "core/theme_settings";

  // Base Elements and Mixins
  @import "core/theme_base";

  // Main WPCA components
  @import "wpca/wrapped";

}

// Main WPCA components that require to be outside containers
@import "wpca/inline";




