// Items
// --------------------------------------------------

.cuar-item {
	.meta {
			width: 30%;
	}
	
	.content {
			width: 65%;
	}
	
	.links {
			width: 5%;
	}
}

.cuar-item {
	.sender, .recipient {
		opacity: 0.8;
	}
	
	.meta {
	}
	
	.content {
	}
	
	.links {
	}
}
