/* The actions used in files and tasks within list items */

.cuar-actions {
  display: block;
  float: right;
  min-height: 28px;
  line-height: 28px;
  padding: 4px 0;

  a, a:hover, .dashicons, .dashicons-before:before {
    text-decoration: none;
  }

  a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}