/** ADDRESS IN METABOX */
.postbox .inside .cuar-address {
  position: relative;

  .cuar-address-actions {
    text-align: right;
  }

  .cuar-progress {
    position: absolute;
    top: 0;
    left: 0;
  }

  .cuar-address-name,
  .cuar-address-company,
  .cuar-address-zip,
  .cuar-address-city,
  .cuar-address-country,
  .cuar-address-state {
    width: 50%;
  }

  .cuar-address-line2 {
    padding-top: 0;
  }
}

/** ADDRESS IN SETTINGS */
.cuar-settings .cuar-address {
  label {
    display: block;
    margin: 0 2px 5px;
  }
  .form-group {
    margin-bottom: 10px;
  }
}