p.cuar-error,
div.cuar-error,
p.cuar-warn,
div.cuar-warn,
p.cuar-info,
div.cuar-info {
  background-color: #FFf7f4;
  border-left: 4px solid #dd3d36;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
  padding: 8px 12px;
  margin: 5px 0 15px;

  .cuar-dismiss {
    float: right;
    text-decoration: none;
  }
}

p.cuar-error,
div.cuar-error {
  background-color: #FFf7f4;
  border-left-color: #dd3d36;
}

p.cuar-warn,
div.cuar-warn {
  background-color: #FFFBBF;
  border-left-color: #DDBC36;
}

p.cuar-info,
div.cuar-info {
  background-color: #CDE1F0;
  border-left-color: #29648E;
}

.cuar-error {
  .button-primary {
    background: #dc3232;
    border-color: #C32A2A;
    -webkit-box-shadow: 0 1px 0 #C32A2A;
    box-shadow: 0 1px 0 #C32A2A;
    text-shadow: none;

    &:hover,
    &:focus,
    &:active {
      background: #C32A2A;
      border-color: #952a2a;
      -webkit-box-shadow: 0 1px 0 #952a2a;
      box-shadow: 0 1px 0 #952a2a;
      text-shadow: none;
    }
  }
}