.postbox .inside {
  .cuar-hint {
    color: #999;
  }

  .cuar-private-file-attachments {
    .cuar-private-file-attachment {
      border: 1px solid #e0e0e0;
      background: #fafafa;
      padding: 4px 7px;
      margin: 4px 0;

      .cuar-actions {
        display: block;
        float: right;

        a, a:hover {
          text-decoration: none;
        }
      }
    }
  }
}