.postbox .inside {
  .cuar-hint {
    color: #999;
  }

  .cuar-file-attachments {
    .cuar-file-attachment {
      position: relative;
      border: 1px solid #e0e0e0;
      background: #fafafa;
      padding: 4px 7px;
      margin: 4px 0;
      min-height: 28px;
      line-height: 28px;

      .cuar-actions {
        display: block;
        float: right;
        min-height: 28px;
        line-height: 28px;
        padding: 4px 0;

        a, a:hover {
          text-decoration: none;
        }
        a:focus {
          -webkit-box-shadow: none;
                  box-shadow: none;
        }
      }

      .cuar-progress {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;

        .indeterminate {
          display: block;
          position: absolute;
          left: 0;
          right: 8px;
          bottom: 0;
          height: 100%;
          background: url('../img/loading-indicator.gif') no-repeat;
          background-position-x: 100%;
          background-position-y: 8px;
        }

        .determinate {
          display: none;
          position: absolute;
          background-color: #a7cfa5;
          left: 0;
          right: 0;
          bottom: 0;
          width: 50%;
          height: 6px;
        }
      }

      &.cuar-state-pending {
        background-color: #D4E9FF;
      }
      &.cuar-state-error {
        background-color: #FF777F;
      }
      &.cuar-state-success {
        background-color: #fafafa;
      }
    }
  }
}