// Box sizing
.box-sizing(@boxmodel) {
  -webkit-box-sizing: @boxmodel;
  -moz-box-sizing: @boxmodel;
  box-sizing: @boxmodel;
}

// Opacity
.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}

.cuar-page *, .cuar-page *:before, .cuar-page *:after {
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}
 
.metabox-row {
	margin: 1.5em 0 1em; 
}
table.metabox-row {
	width: 100%;
  border-spacing: 0;
}
table.metabox-row td.label {
	width: 30%;
}
span.label {
	display: inline-block;
	min-width: 40%;
	vertical-align: top;
}

.metabox-row input[type=text], .metabox-row select, .metabox-row textarea {
	min-width: 200px;
}

.form-table input[type=text], .form-table select, .form-table textarea {
	min-width: 200px;
}

a.cuar-round-button {
	display: inline-block; 
	width: 24px;
	height: 24px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 24px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	background: #666;
	cursor: pointer;
	text-decoration: none;
	opacity: 0.8;
}

a.cuar-round-button .dashicons {
	width: 18px;
	height: 18px;
	font-size: 18px;
}

a.cuar-round-button:hover {
	background: #333;
}

a.cuar-round-button:visited,
a.cuar-round-button:active,
a.cuar-round-button:hover {
	text-decoration: none;
	color: #fff;
}

.button-primary.button-cuar {
    background: #F83E0C;
    border-color: #AD251E;
    -webkit-box-shadow: inset 0 1px 0 rgba(173,37,30,.5),0 1px 0 rgba(0,0,0,.15);
            box-shadow: inset 0 1px 0 rgba(173,37,30,.5),0 1px 0 rgba(0,0,0,.15);
}
.button-primary.button-cuar:hover {
    background: #AD251E;
    border-color: #AD251E;
    -webkit-box-shadow: inset 0 1px 0 rgba(173,37,30,.5),0 1px 0 rgba(0,0,0,.15);
            box-shadow: inset 0 1px 0 rgba(173,37,30,.5),0 1px 0 rgba(0,0,0,.15);
}
.button-primary.button-cuar:active,
.button-primary.button-cuar:focus {
    background: #AD251E;
    border-color: #AD251E;
    -webkit-box-shadow: inset 0 1px 0 rgba(173,37,30,.5),0 1px 0 rgba(0,0,0,.15);
            box-shadow: inset 0 1px 0 rgba(173,37,30,.5),0 1px 0 rgba(0,0,0,.15);
}

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/* -= Status */

.cuar-congrats {
	margin: 5px 0 15px;
	padding: 1px 12px;
	background: #fff;
	border-left: 4px solid #7ad03a;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
		    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
	
.cuar-congrats p {	    
	font-size: 120%;
}

p.cuar-needs-attention {
	border-left: 4px solid #dd3d36;
}

tr.cuar-needs-attention td {
	background: #dd3d36;
	color: #fff;
}

div.cuar-needs-attention {
	margin: 5px 0 15px;
	padding: 1px 12px;
	background: #fff;
	border-left: 4px solid #dd3d36;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
		    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

div.cuar-needs-attention p {
	margin: .5em 0;
	padding: 2px;
}

.cuar-needs-attention .cuar-suggested-action {
	margin-top: 20px;
	padding: 20px 0 15px;
	font-weight: bold;
	font-size: 120%;
	border-top: 1px #e0e0e0 solid;
}

.cuar-needs-attention .cuar-suggested-action .text {
	display: inline-block; 
	min-width: 150px;
}

.cuar-needs-attention .cuar-suggested-action .button {
	margin: 0 30px;
	min-width: 180px;
	text-align: center;
}

.cuar-status-section h2 {
	margin: 20px 0 30px;
}

.cuar-changelog-section ul {
	list-style-type: disc;
	padding: 0 0 1em 1.5em;
}

.error ul.cuar-with-bullets {
	padding: 0 0 0 40px;
	list-style-type: disc;
}

/* -= POST LISTING */

.fixed .column-cuar_category {
	width: 15%;
}

/* -= CONVERSATIONS ADMIN */

.column-cuar_reply_count {
	width: 5em;
}

.conversation-reply {
	border-bottom: 1px solid #999;
}

.conversation-reply:last-child {
	border-bottom: none;
}

.conversation-reply .meta {
	font-weight: bold;
}

.conversation-reply .content {
	padding: 10px;
	margin-left: 10px;
	border-left: 1px solid #ccc;
}

/* -= SETTINGS PAGE */

.cuar-main {
	width: 69%;
	float: left;
	margin-top: 35px;
}

.cuar-main-half {
	width: 34%;
	float: left;
	margin-top: 35px;
}

.cuar-main-half-2 {
	width: 34%;
	margin-left: 2%;
	float: left;
	margin-top: 35px;
}

.cuar-side {
	width: 29%;
	float: right;
	margin-top: 35px;
}
.cuar-ajax-container {
    display: inline-block;
    vertical-align: top;
	margin: 8px 15px 0;
	font-size: 0.8em;
}
.cuar-ajax-running {
	color: #666;
	animation: blinker 1s linear infinite; 
}
@keyframes blinker {  
  0% { opacity: 1; }
  50% { opacity: 0.5; }  
  100% { opacity: 1; }
}
.cuar-ajax-success {
	color: #006400;
}
.cuar-ajax-failure {
	color: #B22222;
}

.cuar-capabilities .label {
	max-width: 25%;
}

.cuar-capabilities .value {
	width: 90px;
}

/* -= ADMIN MENU & ICONS */

.dashboard-logo {
	max-width: 80%;
	margin: 0 auto 50px;
}

.dashboard-logo img {
	max-width: 100%;
	height: auto; 
}

/* -= SETTINGS SIDEBOXES */

.cuar-sidebox {
	border-bottom: 5px solid #eee;
	margin-bottom: 20px;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

.cuar-sidebox ul {
	list-style: disc;
	margin-left: 30px;
}

.cuar-sidebox h2.cuar-sidebox-title {
	background: #eee;
	padding: 10px 20px;
	font-size: 18px;
	line-height: 18px;
}

.cuar-sidebox div.cuar-sidebox-content {
	background: #fafafa;
	padding: 7px 20px;
}

/* -= ADD-ONS TAB */

.cuar-addon {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
	        
	float: left;
	width: 49%;
	margin: 1%;
	padding: 10px;
	border: 1px solid #eee;
	background: #fafafa;

    -webkit-box-shadow: 0px 3px 6px 0px #ddd;
       -moz-box-shadow: 0px 3px 6px 0px #ddd;
         -o-box-shadow: 0px 3px 6px 0px #ddd;
            box-shadow: 0px 3px 6px 0px #ddd;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#ddd, Direction=180, Strength=6);

    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.cuar-addon.cuar-odd {
    margin-right: 0;
}

.cuar-addon.cuar-even {
    margin-left: 0;
}

.cuar-addon:hover {
    -webkit-box-shadow: 0px 3px 6px 0px #aaa;
       -moz-box-shadow: 0px 3px 6px 0px #aaa;
         -o-box-shadow: 0px 3px 6px 0px #aaa;
            box-shadow: 0px 3px 6px 0px #aaa;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#aaa, Direction=180, Strength=6);
}

.cuar-addon .cuar-addon-image img {
	max-width: 33%;
	float: left;
}

.cuar-addon .cuar-addon-title {
	text-align: left;
	text-decoration: none;
    margin-top: 4px;
    font-size: 1em;
}

.cuar-addon .cuar-addon-description {
    text-align: left;
    text-decoration: none;
    margin-top: 4px;
    font-size: 0.9em;
    opacity: 0.7;
}

.cuar-addon .meta {
    margin-left: 35%;
    padding: 0 10px;
}

p.forcelinebreak {
	display: block;
	height: 0px;
	width: 100%;
	clear: both;
	margin: 0;
	padding: 0;
}

@media only screen and (max-width: 900px) {
	.cuar-addon {
		float: left;
		width: 100%;
        margin: 0 0 15px;
	}
}

/* -= INDIVIDUAL SETTINGS TAB ADJUSTMENTS */

.cuar-settings-cuar_addons p.submit, .cuar-settings-cuar_troubleshooting p.submit {
	display: none;
}

.cuar-main.cuar-settings .form-table {
	margin: 1em 0;	
}

/* -= TABS */

.tab-container .tab-wrapper {
	border-bottom: 1px solid #ccc;
	padding: 0;
	margin: 0;
}

.tab-container .nav-tab {
	display: inline-block;
	
	padding: 4px 14px 6px;
	margin: 0 6px -1px 0;
	
	font-weight: 200;
	text-shadow: #fff 0 1px 0;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	
	color: #aaa;
	border-color: #dfdfdf #dfdfdf #fff;
	border-style: solid;
	border-width: 1px 1px 0;
	-webkit-border-top-left-radius: 3px;
	   	    border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
			border-top-right-radius: 3px;
}

.tab-container .ui-tabs-nav a {
	outline: 0;
	text-decoration: none;
	color: #aaa;
}

.tab-container .ui-state-active {
	border-color: #acacac #acacac #fff;
}

.tab-container .ui-state-active a {
	outline: 0;
	font-weight: 600;
	color: #333;
}

.cuar-settings p, .cuar-settings h2, .cuar-settings h3, .cuar-settings h4 {
	line-height: 1.6em;
	max-width: 600px;
}

.cuar-settings ul:not(.tab-wrapper, .select2-choices) {
	list-style-type: disc;
	padding-left: 2em;
	max-width: 600px;
}

.cuar-settings p.cuar-section-info {
	max-width: 100%;
}
 
.wp-admin .cuar-settings select.cuar-post-select {
	min-width: 200px;
}

.cuar-main .cuar-section-description {
	padding: 5px 10px;
}

.wp-admin .cuar-settings .cuar-submit-create-post {
	margin: 1px 25px;
}

.cuar-wizard ul li {
}

.cuar-wizard .cuar-block {
	padding: 30px 10px;
	background: #eee;
}

.cuar-wizard .cuar-block h1 {
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-weight: normal;
}

.cuar-wizard .cuar-block p, .cuar-wizard .cuar-block ul, .cuar-wizard .cuar-block h1, .cuar-wizard .cuar-block div {
	margin: 20px auto;
	max-width: 600px;	
}

.cuar-wizard .cuar-block ul {
	list-style-type: disc;
	padding-left: 40px;
	line-height: 1.5em;
}

/* -= JQUERY.SELECT2 */

.wp-admin .select2-container-multi .select2-choices .select2-search-choice {
	border-radius: 0;
	background-image: none;
}


/* -= JQUERY.DATEPICKER */

.cuar-datepicker {
	position: relative;
	width: 100%;
	display: block;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

.cuar-datepicker .title {
	display: inline-block;
	width: 33%;
	margin-right: 5%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

.cuar-datepicker input {
	display: inline-block;
	width: 60%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

.cuar-datepicker .dashicons {
	display: block;
	position: absolute;
	right: 5px;
	top: 5px;
	color: #666;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

.wp-core-ui .button.renew-license-button {
    display: inline-block;
    font-size: 0.95em;
    margin-right: 15px;
}
.license-control input {
    max-width: 30%;
    min-width: 270px;
}
.license-control .cuar-ajax-container {
    max-width: 60%;
}
.cuar-old-shop-warning {
    display: inline-block;
    color: #666;
    margin-top: 4px;
}

table.cuar-capabilities .toggle_roles,
table.cuar-capabilities .toggle_caps {
    background: #ccc;
    opacity: 0.4;
}
table.cuar-capabilities .checkbox-only {
    width: 20px;
}

/* -= Ajax utils */

.cuar-loading-indicator {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url('../img/loading-indicator.gif') top left no-repeat;
}

/* -= RSS Feed items */

.cuar-feed-content ul {
    list-style: none;
    padding: 0;
}

.cuar-feed-content li {
    background: #fff;
    padding: 15px;
    margin: 25px 0;

    -webkit-box-shadow: 0px 3px 6px 0px #ddd;
    -moz-box-shadow: 0px 3px 6px 0px #ddd;
    -o-box-shadow: 0px 3px 6px 0px #ddd;
    box-shadow: 0px 3px 6px 0px #ddd;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#ddd, Direction=180, Strength=6);

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.cuar-feed-content li:hover {
    -webkit-box-shadow: 0px 3px 6px 0px #aaa;
    -moz-box-shadow: 0px 3px 6px 0px #aaa;
    -o-box-shadow: 0px 3px 6px 0px #aaa;
    box-shadow: 0px 3px 6px 0px #aaa;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#aaa, Direction=180, Strength=6);
}

.cuar-feed-content .cuar-feed-date {
    font-size: 0.8em;
    color: #999;
}

.cuar-feed-content .cuar-feed-title {
    color: #333;
    margin-bottom: 5px;
}

.cuar-feed-content .cuar-feed-summary {
    color: #333;
    margin-top: 15px;
}

.cuar-feed-content a {
    text-decoration: none;
}

.cuar-feed-content .cuar-feed-image img {
    float: left;
    width: 30%;
    height: auto;
    margin-right: 15px;
}

/* -= Setup & about pages */

.cuar-dashboard-screen .cuar-dashboard-tabs {
    margin-top: 25px;
}

.cuar-dashboard-screen {
    margin: 25px 40px 0 20px;
    max-width: 1050px;
    font-size: 15px;
}

.cuar-dashboard-screen .cuar-hero {
    position: relative;
    padding-right: 250px;
    float: left;
}

.cuar-dashboard-screen .cuar-badge {
    position: absolute;
    top: 20px;
    right: 0;
    background: #313131;
    width: 180px;
    text-align: center;
    float: left;
    padding: 10px;
    border-radius: 10px;
}
.cuar-dashboard-screen .cuar-badge>p {
    margin-top: 10px;
    font-size: 0.9em;
    color: #fff;
    opacity: 0.6;
}

.cuar-dashboard-screen .cuar-related-actions {
    list-style: none;
    padding: 0;
    margin: 20px 0 45px;
}

.cuar-dashboard-screen .cuar-related-actions li {
    display: block;
    float: left;
    padding: 0;
    margin: 0 10px 0 0;
}

.cuar-dashboard-screen .cuar-hero h1 {
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 15px;
    margin: 25px 0;
}

.cuar-dashboard-screen .cuar-hero .cuar-messages .cuar-primary-message {
    font-size: 1.6em;
    color: #444;
}
.cuar-dashboard-screen .cuar-hero .cuar-messages .cuar-secondary-message {
    font-size: 1.3em;
    color: #666;
}

.cuar-dashboard-screen .cuar-content {
    margin-top: 25px;
}

.cuar-dashboard-screen .cuar-whatsnew-box {
    background: #fff;
    width: 27.3%;
    margin-right: 2%;
    margin-bottom: 20px;
    float: left;
    padding: 15px 2%;
    min-height: 190px;

    h3 {
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 12px;
    }
}

.cuar-dashboard-screen .cuar-whatsnew-boxes {
  margin: 30px 0 50px;
}

.cuar-dashboard-screen .cuar-installer-section {
    margin-top: 25px;
}

.cuar-dashboard-screen .cuar-installer-section.cuar-faded {
    opacity: 0.3;
}

.cuar-dashboard-screen .cuar-section-title {
    margin-bottom: 25px;
}

.cuar-dashboard-screen .cuar-instructions {
    float: left;
    width: 47%;
    margin: 0 3% 0 0;
    padding: 0;
    font-size: 1em;
}

.cuar-dashboard-screen .cuar-installer-section.cuar-readynow-section {
    text-align: center;
}

.cuar-dashboard-screen .cuar-installer-section.cuar-readynow-section .cuar-section-title {
    font-size: 2.5em;
    margin: 45px 0 35px;
}

.cuar-dashboard-screen .cuar-installer-section.cuar-readynow-section .cuar-lets-go {
    display: inline;
    font-size: 3.5em;
    height: auto;
    line-height: normal;
}

.cuar-dashboard-screen .cuar-actions {
    float: left;
    width: 47%;
    margin: 0 0 0 3%;
    padding: 0;
}

.cuar-dashboard-screen .cuar-actions .cuar-response {
    margin-top: 15px;
}

.cuar-dashboard-screen .cuar-actions .cuar-response.cuar-success {
    color: #006505;
}

.cuar-dashboard-screen .cuar-actions .cuar-response.cuar-error {
    color: #8D1818;
}

.cuar-addons-section h2 {
    margin: 35px 0 15px;
}

.cuar-newsletter-section .mc-field-group {
    margin-top: 0;
}

.cuar-newsletter-section .mc-field-group label {
    display: inline-block;
    min-width: 40%;
}

.cuar-newsletter-section .mc-field-group label {
    margin-right: 15px;
}

.cuar-newsletter-section .mc-field-group input {
    display: inline-block;
    width: 55%;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cuar-newsletter-section #mc-embedded-subscribe {
}

.cuar-divider {
    height: 40px;
    width: 100%;
    margin: 45px 0 30px;
    background: url('../img/divider.png') center no-repeat;
    opacity: 0.4;
}

.cuar-inline-checkboxes {
  min-width: 150px;
  display: inline-block;
  margin-right: 10px;
}