// Auto padding on single private contents
@{wrapperBody}.single @{wrapperContainer} {
  padding: @grid-gutter-width / 2;

  .cuar-toolbar {
    margin-left: -@grid-gutter-width / 2;
    margin-top: -@grid-gutter-width / 2;
    margin-right: -@grid-gutter-width / 2;

    & + script + .cuar-menu-container,
    & + .cuar-menu-container {
      margin-bottom: @grid-gutter-width;
      margin-left: -@grid-gutter-width / 2;
      margin-right: -@grid-gutter-width / 2;
    }
  }
}

// Possible fix for links color for theme that often use .entry-content class
@{wrapperBody} .entry-content @{wrapperContainer} .cuar-page a,
@{wrapperBody} .entry-content @{wrapperContainer} .cuar-page a:visited,
@{wrapperBody} .comment-content @{wrapperContainer} .cuar-page a,
@{wrapperBody} .comment-content @{wrapperContainer} .cuar-page a:visited {
  //color: @link-color;
}
@{wrapperBody} .entry-content @{wrapperContainer} .cuar-page a:hover,
@{wrapperBody} .comment-content @{wrapperContainer} .cuar-page a:hover {
 // color: @link-hover-color;
}

// TinyMCE Body Fix
@{wrapperBody}.mceContentBody {
  background-color: @input-bg;
  color: @input-color;
  font-family: @font-family-sans-serif;
  font-size: @font-size-base;
  scrollbar-3dlight-color: #F0F0EE;
  scrollbar-arrow-color: #676662;
  scrollbar-base-color: #F0F0EE;
  scrollbar-darkshadow-color: #DDDDDD;
  scrollbar-face-color: #E0E0DD;
  scrollbar-highlight-color: #F0F0EE;
  scrollbar-shadow-color: #F0F0EE;
  scrollbar-track-color: #F5F5F5;
  td, th {
    font-family: @font-family-sans-serif;
    font-size: @font-size-base;
  }
}