.cuar-dashboard-screen .cuar-dashboard-tabs {
  margin-top: 25px;
}

.cuar-dashboard-screen {
  margin: 25px 40px 0 20px;
  font-size: 15px;
}

.cuar-dashboard-screen .cuar-hero {
  position: relative;
  padding-right: 250px;
  float: left;
}

.cuar-dashboard-screen .cuar-badge {
  position: absolute;
  top: 20px;
  right: 0;
  background: #313131;
  width: 180px;
  text-align: center;
  float: left;
  padding: 10px;
  border-radius: 10px;
}
.cuar-dashboard-screen .cuar-badge>p {
  margin-top: 10px;
  font-size: 0.9em;
  color: #fff;
  opacity: 0.6;
}

.cuar-dashboard-screen .cuar-related-actions {
  list-style: none;
  padding: 0;
  margin: 20px 0 45px;
}

.cuar-dashboard-screen .cuar-related-actions li {
  display: block;
  float: left;
  padding: 0;
  margin: 0 10px 0 0;
}

.cuar-dashboard-screen .cuar-hero h1 {
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 15px;
  margin: 25px 0;
}

.cuar-dashboard-screen .cuar-hero .cuar-messages .cuar-primary-message {
  font-size: 1.6em;
  color: #444;
}
.cuar-dashboard-screen .cuar-hero .cuar-messages .cuar-secondary-message {
  font-size: 1.3em;
  color: #666;
}

.cuar-dashboard-screen .cuar-content {
  margin-top: 25px;
}

.cuar-dashboard-screen .cuar-whatsnew-box {
  background: #fff;
  width: 27.3%;
  margin-right: 2%;
  margin-bottom: 20px;
  float: left;
  padding: 15px 2%;
  min-height: 190px;

  h3 {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 12px;
  }
}

.cuar-dashboard-screen .cuar-whatsnew-boxes {
  margin: 30px 0 50px;
}

.cuar-dashboard-screen .cuar-installer-section {
  margin-top: 25px;
}

.cuar-dashboard-screen .cuar-installer-section.cuar-faded {
  opacity: 0.3;
}

.cuar-dashboard-screen .cuar-section-title {
  margin-bottom: 25px;
}

.cuar-dashboard-screen .cuar-instructions {
  float: left;
  width: 47%;
  margin: 0 3% 0 0;
  padding: 0;
  font-size: 1em;
}

.cuar-dashboard-screen .cuar-installer-section.cuar-readynow-section {
  text-align: center;
}

.cuar-dashboard-screen .cuar-installer-section.cuar-readynow-section .cuar-section-title {
  font-size: 2.5em;
  margin: 45px 0 35px;
}

.cuar-dashboard-screen .cuar-installer-section.cuar-readynow-section .cuar-lets-go {
  display: inline;
  font-size: 3.5em;
  height: auto;
  line-height: normal;
}

.cuar-dashboard-screen .cuar-actions {
  float: left;
  width: 47%;
  margin: 0 0 0 3%;
  padding: 0;
}

.cuar-dashboard-screen .cuar-actions .cuar-response {
  margin-top: 15px;
}

.cuar-dashboard-screen .cuar-actions .cuar-response.cuar-success {
  color: #006505;
}

.cuar-dashboard-screen .cuar-actions .cuar-response.cuar-error {
  color: #8D1818;
}

.cuar-addons-section h2 {
  margin: 35px 0 15px;
}

.cuar-newsletter-section .mc-field-group {
  margin-top: 0;
}

.cuar-newsletter-section .mc-field-group label {
  display: inline-block;
  min-width: 40%;
}

.cuar-newsletter-section .mc-field-group label {
  margin-right: 15px;
}

.cuar-newsletter-section .mc-field-group input {
  display: inline-block;
  width: 55%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cuar-newsletter-section #mc-embedded-subscribe {
}

.cuar-divider {
  height: 40px;
  width: 100%;
  margin: 45px 0 30px;
  background: url('../img/divider.png') center no-repeat;
  opacity: 0.4;
}

.cuar-inline-checkboxes {
  min-width: 150px;
  display: inline-block;
  margin-right: 10px;
}