.column-owner {
  .dashicons {
    display: inline-block;
    margin-right: 8px;
    font-size: 1.2em;
    color: #999;
  }
}

// Owner field protect post types checkbox
.cuar-content-protection-checkbox {
  display: block;
  margin: 15px 0 10px;
}