.wp-admin .cuar-settings {
  h2 {
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 13px;
  }

  table.cuar-capabilities {
    .label {
      max-width: 25%;
    }

    .value {
      width: 90px;
    }

    .toggle_roles,
    .toggle_caps {
      background: #ccc;
      opacity: 0.4;
    }

    .checkbox-only {
      width: 20px;
    }
  }

  ul:not(.tab-wrapper, .select2-choices) {
    list-style-type: disc;
    padding-left: 2em;
    max-width: 600px;
  }

  p.cuar-section-info {
    max-width: 100%;
  }

  select.cuar-post-select {
    min-width: 200px;
  }

  .cuar-section-description {
    padding: 5px 10px;
  }

  .cuar-submit-create-post {
    margin: 1px 25px;
  }

  .form-table {
    margin: 1em 0;
  }

  .ui-tabs-panel .form-table {
    clear: none;
  }
}

/*
.cuar-settings-cuar_addons p.submit,
.cuar-settings-cuar_troubleshooting p.submit {
  display: none;
}
*/